// BUTTON STYLE ---------------------------------

  .button1 {
    display: flex;
    flex-direction: row-reverse;
    gap: 0px 5px;
    &:hover {
      background-color: $bgColor-light;
      border-radius: 10%;
    }
  }
  /* The switch - the box around the circle */
  .switch {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    height: 15px;
    width: 15px;
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
  }
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: $bgColor-dark;
    border-radius: 15px;
  }
  .slider:after {
    content: "";
    position: absolute;
    display: none;
  }
  .switch input:checked ~ .slider:after {
    display: block;
  }
  .switch .slider:after {
    left: 5px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid $textColor-dark;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  div.button__filter {
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0px 15px;
    background-color: $bgColor-light;
  }
  .button_title {
    padding-left: 10px;
    font-family: $roboto-font;
  }

  // END BUTTON STYLE ---------------------------