.container {
    position: absolute;
    right: 10px;
    display: none;
    animation: slide 1s ease 3.5s forwards;
    z-index: 2;
}

.shoppingcart {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: $textColor-dark;
    background-color: $bgColor-dark;
    font-family: $hind-font;
    width: 300px;
    height: 400px;
    margin-top: 20px;
    &:before {
        // layout
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        bottom: 100%;
        right: 2.0em; // offset should move with padding of parent
        border-right: 10px solid transparent;
        border-left: 7px solid $bgColor-dark;
        border-top: 12px solid $bgColor-dark;
        border-bottom: 10px solid transparent;
        transform: rotate(-180deg);
    }
    &__footer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        &__divider {
            width: 280px;
            margin: 10px 0px;
            border-bottom: 1px solid gray;
        }

        &__content {
            display: flex;
            img {
                height: 25px;
                padding-left: 5px;
                padding-right: 5px;
                background-color: $bgColor-light;
                border-radius: 5px;
            }

            &__total {
                
                margin: 0px 10px;
            }
        }

        &__checkout {
            font-family: $hind-font;
            background-color: $bgColor-light;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.25;
            margin: 10px 60px;
            padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
            border: 1px solid transparent;
            border-radius: 0.25rem;
            box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
            cursor: pointer;

            &:hover {
                background-color: $bgColor-middlelight;
            }
        }
    }
}