.container {
    position: absolute;
    right: 10px;
}

.shoppingcart {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: #5b5b5b;
    background-color: #ffffff;
    font-family: $hind-font;
    width: 300px;
    height: 400px;
    margin-top: 20px;
    &__footer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        &__divider {
            width: 280px;
            margin: 10px 0px;
            border-bottom: 1px solid gray;
        }

        &__content {
            display: flex;
            img {
                height: 25px;
            }

            &__total {
                
                margin: 0px 10px;
            }
        }

        &__checkout {
            font-family: $hind-font;
            background-color: $bgColor-light;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.25;
            margin: 10px 60px;
            padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
            border: 1px solid transparent;
            border-radius: 0.25rem;
            box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
            cursor: pointer;

            :hover{
                background-color: $bgColor-middlelight;
            }
        }
    }
}
