@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;500;600&family=Roboto:wght@100;300;400;500;700;900&display=swap");
html, body {
  margin: 0;
  padding: 0;
  background-color: #151515;
  color: #f4f4f4;
}

#dinner {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 35px 10px;
  width: 100%;
}

.dinner__item {
  max-width: 350px;
  position: relative;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #be793f;
}
.dinner__item__picture {
  border-top-right-radius: 25px;
  width: 100%;
  min-width: max(280px, 100%);
}
.dinner__item__content {
  width: 100%;
  min-width: max(280px, 100%);
}
.dinner__item__content__name {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: large;
  color: #cfcef6;
}
.dinner__item__content__ingredients {
  margin-left: 10px;
  margin-right: 10px;
  font-size: medium;
  color: #f4f4f4;
}
.dinner__item__command {
  position: absolute;
  width: 100px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  right: 0;
  bottom: 0;
  margin-right: 10px;
  margin-bottom: -30px;
  border-radius: 10px;
  background-color: #b9314f;
}
.dinner__item__command__price {
  margin-top: 10px;
  color: #cfcef6;
}
.dinner__item__command__shop {
  margin-top: 10px;
}

* {
  box-sizing: border-box;
}

header {
  position: fixed;
  width: 100%;
}

.nav {
  background-color: #f1a66a;
  position: relative;
  display: flex;
  height: 80px;
  justify-content: space-between;
}
.nav__div {
  display: inline-block;
  width: 80px;
  padding-bottom: 20px;
  position: relative;
}
.nav__div__logo {
  border-radius: 25%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.15s ease-in;
}
.nav__div__logo:hover {
  transform: scale(1.2);
}
.nav__div__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px;
}
.nav__div__button .nav__button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
}
.nav__div__button .nav__button__icon {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: red;
}

input:focus + .slider {
  box-shadow: 0 0 1px red;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

div.button__filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid blue;
  background-color: #b9314f;
}

p.button__title {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: center;
  justify-content: center;
}

.button1 {
  margin-left: 10px;
  margin-bottom: 5px;
}
.button1:hover {
  background-color: #f1a66a;
  border-radius: 10%;
}

div.button5 {
  margin-right: 10px;
  margin-bottom: 10px;
}

.title {
  background-image: url("assets/img/title_background.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.title__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title__text__main {
  font-family: Roboto, sans-serif;
  margin-top: 140px;
  font-size: 3.5rem;
}
@media screen and (min-width: 1000px) {
  .title__text__main {
    font-size: 4.5rem;
  }
}
.title__text__subtitle {
  font-family: Hind, sans-serif;
  font-size: 2rem;
}
@media screen and (min-width: 1000px) {
  .title__text__subtitle {
    font-size: 2.5rem;
  }
}
.title__text__description {
  font-family: Hind, sans-serif;
  font-size: 1.2rem;
  margin: 30px;
  line-height: 1.2;
}
@media screen and (min-width: 1000px) {
  .title__text__description {
    margin: 80px;
    line-height: 1.3;
  }
}/*# sourceMappingURL=style.css.map */