* {
    box-sizing: border-box;
}
.nav {
    display: flex;
    justify-content: space-between;

    &__button {
        width: 15%;
        height: auto;
        border: none;
        &__icon {
            object-fit: contain;
            height: 100%;
            width: 100%;
        }
    }
}
