html, body {
  margin: 0;
  padding: 0;
  background-color: #151515;
  color: #f4f4f4;
}

#dinner {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 35px 10px;
  width: 100%;
}

.dinner__item {
  max-width: 350px;
  position: relative;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #be793f;
}
.dinner__item__picture {
  border-top-right-radius: 25px;
  width: 100%;
  min-width: max(280px, 100%);
}
.dinner__item__content {
  width: 100%;
  min-width: max(280px, 100%);
}
.dinner__item__content__name {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: large;
  color: #cfcef6;
}
.dinner__item__content__ingredients {
  margin-left: 10px;
  margin-right: 10px;
  font-size: medium;
  color: #f4f4f4;
}
.dinner__item__command {
  position: absolute;
  width: 100px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  right: 0;
  bottom: 0;
  margin-right: 10px;
  margin-bottom: -30px;
  border-radius: 10px;
  background-color: #b9314f;
}
.dinner__item__command__price {
  margin-top: 10px;
  color: #cfcef6;
}
.dinner__item__command__shop {
  margin-top: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.nav {
  background-color: #f1a66a;
  position: relative;
  display: flex;
  height: 80px;
  justify-content: space-between;
}
.nav__div {
  display: inline-block;
  width: 80px;
  padding-bottom: 20px;
  position: relative;
}
.nav__div__logo {
  border-radius: 25%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
.nav__div__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px;
}
.nav__div__button .nav__button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
}
.nav__div__button .nav__button__icon {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}